.auth_page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.auth_form {
  margin-top: 5rem;
  padding: 1rem;
  height: fit-content;
  background-color: var(--secondary-color);
  box-shadow: -0.5rem 0.5rem 1rem var(--shadow-color);
  border-radius: 0.5rem;
}

.toggle_form {
  width: 90%;
  height: 4rem;
  margin: auto;
  border: 1px solid var(--primary-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.toggle_form a {
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.toggle_form a.active_form {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .auth_page {
    display: flex;
    flex-direction: column;
  }
}
