.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.loader > * {
  margin-top: 2rem;
}

.spinner {
  --size: 6rem;
  --border-size: 7px;
  --color: var(--primary-color);

  width: var(--size);
  height: var(--size);
  border: var(--border-size) solid transparent;
  border-radius: 50%;
  border-top: var(--border-size) solid var(--color);
  border-bottom: var(--border-size) solid var(--color);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
