.error_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  height: 90vh;
}

.error_content img {
  max-width: 90%;
}

.error_content p {
  font-size: 2.2rem;
}
