.product_item {
  background-color: var(--secondary-color);
  box-shadow: -0.5rem 0.5rem 1rem var(--shadow-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.product_item img {
  width: 100%;
  height: 25rem;
  object-fit: contain;
  object-position: center;
}

.product_item section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.product_item section > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.product_name {
  text-align: center;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 2rem;
}

.product_price {
  font-weight: bold;
}

.price_discount {
  gap: 0.7rem;
}

.price_discount p:first-child {
  color: var(--gray-color);
  text-decoration: line-through;
}

.price_discount span {
  display: grid;
  place-content: center;
  background-color: var(--red-color);
  color: #fff;
  font-size: 1.4rem;
  width: 3rem;
  height: 2rem;
  border-radius: 1.5rem;
}

.products {
  --columns: 3;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .products {
    --columns: 2;
  }
}

@media screen and (max-width: 650px) {
  .products {
    --columns: 1;
  }
}
