@media screen and (max-width: 768px) {
  .navbar_links ul {
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 1rem 1rem 1rem var(--shadow-color);
    position: absolute;
    right: 0;
    opacity: 0;
    top: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s ease-out;
  }
  .navbar_links ul li {
    padding: 0.5rem;
  }
  .navbar_links ul.active_items {
    max-height: fit-content;
    opacity: 1;
    top: 6rem;
  }

  .navbar_links ul.active_items::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .profile_icon ul {
    right: -100%;
  }
}
