.main_header nav {
  justify-content: space-between;
}

.main_header {
  height: 6rem;
  background-color: var(--secondary-color);
  box-shadow: 1rem 0 1rem var(--shadow-color);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar_links .logo {
  margin: 0 1rem 0 3rem;
}

.navbar_links ul li {
  margin: auto 1rem;
}

.navlink {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navbar_links .navlink.active {
  color: var(--primary-color);
}

.navlink:hover,
.navlink.active:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.left_icons {
  gap: 1.5rem;
}

.cart_icon,
.enter_icon {
  display: flex;
  position: relative;
  cursor: pointer;
  color: var(--primary-color);
}

.main_header nav svg {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.cart_icon span {
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  background-color: var(--red-color);
  font-size: 1.3rem;
  color: #fff;
  display: grid;
  place-content: center;
}

.enter_icon {
  gap: 0.5rem;
}

.menu_icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu_icon {
    display: flex;
  }
  .navbar_links ul {
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 1rem 1rem 1rem var(--shadow-color);
    position: absolute;
    top: 6rem;
    right: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
  }
  .navbar_links ul li {
    padding: 0.5rem;
  }
  .navbar_links ul.active_items {
    max-height: fit-content;
    opacity: 1;
    padding: 1rem;
  }
}
