.cart_item {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 2rem;
  border: 1px solid var(--gray-color);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem;
}

.cart_item img {
  height: 100%;
  width: 15rem;
  object-fit: contain;
  object-position: center;
  border: 1px solid var(--gray-color);
  border-radius: 0.5rem;
}

.cart_item .desc {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.cart_item .desc p {
  font-weight: bold;
  font-size: 2rem;
}

.cart_item ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart_item li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--gray2-color);
}

.quantity_btns {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 3rem;
  gap: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.quantity_btns > * {
  flex-basis: 100%;
}

.quantity_btns .btn {
  display: grid;
  place-content: center;
  background-color: transparent;
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .cart_item img {
    width: 9rem;
    height: initial;
  }
}
