@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shabnam";
  src: url("./assets/fonts/Shabnam.woff2") format("woff2"),
    url("./assets/fonts/Shabnam.woff") format("woff"),
    url("./assets/fonts/Shabnam.ttf") format("truetype"),
    url("./assets/fonts/Shabnam.eot") format("eot");
}

* {
  font-family: "Shabnam", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  @apply bg-body text-[1.6rem] text-[#222];
}

.container {
  @apply w-[90%] mx-auto max-w-[130rem];
}

.app > main > .container {
  min-height: 90vh;
}

.row {
  display: flex;
  align-items: center;
}

.btn {
  @apply cursor-pointer p-[0.8rem] outline-none border-none rounded-lg text-center;
}

.btn:disabled {
  @apply bg-opacity-60;
}

/** BTNS */
.btn_primary {
  @apply text-secondary bg-primary;
}

/** CARDS */
.card {
  @apply bg-secondary rounded-lg shadow-xl;
}

.cart-page-card {
  @apply h-fit flex flex-col gap-4 p-4;
}
