.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px 0;
}

.form_group .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_group label {
  font-size: 1.8rem;
}

.form_group input {
  outline: none;
  padding: 7px;
  margin-top: 3px;
  border-radius: 5px;
}

.form_group input:focus {
  border-color: var(--primary-color);
}

.form_group input {
  border: var(--gray2-color) solid 1px;
}

.error {
  color: var(--red-color);
  font-size: 1.5rem;
}
